* {
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 400px 1fr;
    min-height: 100vh;
}

.icon {
}

.sidebar {
    background-color: antiquewhite;
}

.main-right {
    display: grid;
    grid-template-rows: 200px 1fr;
}

.header {
    background-color: red;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 400px;
    background-color: aqua;
}